Subject: 🔮 CareerSphere: Summon a New Password

Greetings {{ user.username }},

The spirits whisper that you have lost your key to the afterlife. 
Do not fear. We have forged a temporary spell to help you return.

Click the link below to seal your fate and choose a new password:

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

(This spell will vanish in 24 hours.)

If you did not summon this request, ignore this message. Your soul remains safe.

-- 
The CareerSphere Graveyard Keepers 👻